<footer>
    <main>
        <div class="head">
            <img src="images/logo.png" alt="logo">
            <p>Welcome to X-Profit LTD - a public trading company that boldly gains the trust of investors from around the world! Our professional and customer-oriented team is ready to make you an amazing offer of cryptocurrency investments.</p>
        </div>
        <div class="menu">
            <h4>Quick Links</h4>
            <div class="links">
                <a href="/">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Home
                </a>
    
                <a href="/about">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; About Us
                </a>
    
                <a href="/contact">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Contact Us
                </a>
    
                <a href="/faqs">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; F.A.Q
                </a>
            </div>
        </div>
        <div class="menu">
            <h4>Investment</h4>
            <div class="links">
                <a href="/login">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Login
                </a>
    
                <a href="/register">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Sign Up
                </a>
    
                <a href="/plans">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Investment Packages
                </a>
            </div>
        </div>
        <div class="menu">
            <h4>Contact Info</h4>
            <div class="links">
                <div class="location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; 19 Grosvernor Avenue C/O American Ringeast Providence, RI, U.S.A 02914
                </div >
    
                <div class="location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Colinton House, Leister Road, Bedworth, Warwickshire, United Kingdom, CV12 8AB
                </div>
    
    
                <a href="mailto: admin@xprofitinvestment.ltd">
                    <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; admin@xprofitinvestment.ltd
                </a>
                <div class="location">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> &nbsp; +1(260)255-6576
                </div>
            </div>
        </div>
    </main>
    <p class="copy">COPYRIGHT &copy; 2016 - <%= date %> X-PROFIT INVESTMENT LIMITED. ALL RIGHTS RESERVED.</p>
</footer>

</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="js/script.js"></script>
<script src="js/chart.js"></script>
</body>
</html>