<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="X-profit, your pathway to success. A public trading company that boldly gains the trust of investors from around the world! Our professional and customer-oriented team is ready to make you an amazing offer of cryptocurrency investments">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b9cd42d5c599c0688ad12c318a993a6c03c2c6c4';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Xprofit || Doorway To Success</title>
</head>
<body>
    <div class="body">
    <nav class="nav">
        <a href="/" class="logo">
            <img src="images/logo.png" alt="logo">
        </a>

        <div class="nav_links">
            <a href="/about">ABOUT US</a>
            <a href="/plans">INVESTMENT PACKAGES</a>
            <a href="/contact">CONTACT US</a>
            <a href="/faqs">F.A.Q</a>
        </div>

        <div class="actions">
            <a href="/register" class="register">Register</a>
            <a href="/login" class="login">login</a>
        </div>

        <div id="google_translate_element"></div>

        <div id="hamburgerClosed" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
        <div class="mobileMenu">
            <div class="menu_top">
                <a href="/" class="logo">
                    <img src="images/logo.png" alt="logo">
                </a>

                <div id="hamburgerOpen" class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="menu_links">
                <a href="/about">ABOUT US</a>
                <a href="/plans">INVESTMENT PACKAGES</a>
                <a href="/contact">CONTACT US</a>
                <a href="/faqs">F.A.Q</a>
                <a href="/register">SIGN UP</a>
                <a href="/login">LOGIN</a>
            </div>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement (
                        {pageLanguage: 'en'}, 
                        'google_translate_element'
                    );
                }
            </script>

            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


        </div>

