<%-include('partials/header')-%>
<div class="about">
    <div class="about_head">
        <h2>About Us</h2>
        <p>Let's Help You Understand Us</p>
    </div>
    <div class="about_begining">
        <div class="begining_txts">
            <h5 data-aos="fade-left" data-aos-duration="1500">X-PROFIT INVESTMENT LTD</h5>
            <h2 data-aos="fade-right" data-aos-duration="1500">For 6 years, we've been empowering clients.</h2>
            <p data-aos="fade-left" data-aos-duration="1500">X-Profit Investment ltd is an investment (trading) and consultancy platform dedicated to suit both long and short term investments with over 6 years experience and 3 years in corporation</p>
            <p data-aos="fade-right" data-aos-duration="1500">Combinig our curent market knowledge with the decades of experience in program development, emerging market/regional credit risk, cryptocurrencies, stocks analysis, FX and ETFs we also support investors on an advisory basis as we have over 200 trading tools and 70+ skilled personnel to model the best investment rates</p>
            <p data-aos="fade-left" data-aos-duration="1500">X-Profit Investment Limited offers you the most effective and efficient channel finance solution.<br>
            Trust is key for your business, working with a finanve partneer and our team's record of consistent delivery is recognised globally by our partner banks, insurers, vendors and long term investors
            <br>
            X-Profit Investment Limited is a registered Trademark under th UK Company House under authority of the house of parliament on the 11th of March 2015.
            </p>

            <div data-aos="fade-up" data-aos-duration="1500" class="age">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                <div class="texts">
                    <h3>Trading Since 2015</h3>
                    <p>We do not stop experimenting and developing our own financial strategies: X-Profit Investment LTD finds better uses for money to extract maximum profits.</p>
                </div>
            </div>
        </div>

        <img data-aos="fade-right" data-aos-duration="1500" src="images/portrait-of-businessman-ph7e2a9rq7ll2yg8ydlt961azr7e2ozc3vzq0kzebk.jpg" alt="banner">

    </div>

    <div class="about_mid">
        <div class="intro">
            <img data-aos="fade-down" data-aos-duration="1500" src="images/Cryptocurrency-768x583.png" alt="banner">
            <h4 data-aos="fade-right" data-aos-duration="1500">X-PROFIT Investment LTD</h4>
            <h3 data-aos="fade-left" data-aos-duration="1500">We Are Re-shaping The Future Of Crypto Trading</h3>
            <p data-aos="fade-right" data-aos-duration="1500">From Our Executives to Traders, Marketers, Sales Reps & Floor Staff... We Stay Focused On Growth.</p>
        </div>

        <section>
            <div data-aos="fade-up" data-aos-duration="1500" class="detail">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <h3>Secure System</h3>
                <p>We pride ourselves on guaranteeing the security of our users funds, identities and truat in us. Your protection is guaranteed.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="detail">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <h3>Credibility</h3>
                <p>All our in-house traders are efficiently prove to guarantee profits for investors through years of practice and experience.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="detail">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <h3>API Support</h3>
                <p>Our API software is designed to interact with other software that are centered on unique profit maximazation for users.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="detail">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <h3>24/7 Support</h3>
                <p>Our team of professional Customer Representatives are always available to guarantee safe & easy use of X-Profit Investment LTD.</p>
            </div>
        </section>

        <div class="outro">
            <h2 data-aos="fade-left" data-aos-duration="1500">Reliable institutional access to crypto.</h2>
            <p data-aos="fade-right" data-aos-duration="1500">Welcome to X-Profit Investment LTD - a private company that boldly gains the trust of investors from around the world! Our friendly and the customer-oriented team is ready to make you an amazing offer of cryptocurrency investments. If you're familiar with the concepts of Forex and stock trading, you will undoubtedly be able to appreciate our work and its results. During the last decade, trading on Forex firmly has taken its place in our lives. We are engaged in business, the foundations of which we have thoroughly studied and clearly understood. Many years of experimentation experience, the use of new trading methods and instruments, the emergence of cryptocurrency as a new tool - all this left its mark.</p>
            <p data-aos="fade-left" data-aos-duration="1500">From the moment we decided to develop direction of tryst management, X-Profit Investment LTD entered a new stage to revolutionaize the crypto market. We are always grateful to all our customers for the trust you have given us from when you opened an account on our website and made your first deposit. We see our mission in unlocking the potential of our professional traders and to ensure equal access to high-quality investment services to professional and novice investors worldwide.</p>
        </div>
    </div>

    <div class="about_end">
        <div data-aos="fade-left" data-aos-duration="1500" class="top">
            <h2>Most Trusted CryptoCurrency Platform</h2>
            <p>X-profit Investment ltd will give all access to the world of Investments</p>
        </div>
            <section>
                <div data-aos="fade-up" data-aos-duration="1500" class="onboard">
                    <img src="images/secure-3.png" alt="banner">
                    <h4>Reliable Security</h4>
                    <p>We at X-profit pride ourselves on the security of our users funds, identities and trust in us. Your protection is guaranted.</p>
                </div>

                <div data-aos="fade-up" data-aos-duration="1500" class="onboard">
                    <img src="images/invest-3.png" alt="banner">
                    <h4>Prefessional Traders</h4>
                    <p>All our in-house traders are efficiently proven to guarantee profits for investors throughout our long years of experience.</p>
                </div>

                <div data-aos="fade-up" data-aos-duration="1500" class="onboard">
                    <img src="images/easy-3.png" alt="banner">
                    <h4>24/7 Customer Support</h4>
                    <p>Our team of Customer representatives are always available to guarantee safe & easy use of our platform.</p>
                </div>
            </section>
    </div>
</div>
<%-include('partials/footer')-%>