<%-include('partials/header')-%>
<div class="faqs">
    <div class="faqs_head">
        <h2>FAQ</h2>
        <p>Do You Have Questions?</p>
    </div>

    <main>
        <h4 data-aos="fade-right" data-aos-duration="1500" >Frequently Asked Questions</h4>
        <h2 data-aos="fade-left" data-aos-duration="1500" >Get Answers</h2>
        <p data-aos="fade-right" data-aos-duration="1500" >Explore some possible questions with their appropriate answers about X-Profit Investment LTD which you may be confused or curious about.</p>

        <section>
            <div data-aos="fade-up" data-aos-duration="1500" class="question">
                <header><h3>Is X-Profit Investment LTD an officially registered company?</h3> <i class="fa fa-angle-down"></i></header>
                <p>Yes, of course. Our US company regitration can be verified via the government business registration and accreditation website.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="question">
                <header><h3>Do I need to have prior trading knowledge or skills beofore joining or investing with X-Profit Limited?</h3> <i class="fa fa-angle-down"></i></header>
                <p>No, you don't. All trades on our platform are handled by our professional traders with years of experience to help us guarantee a steady flow of profits for users so you basically have to sit back and count your profits as they come through.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="question">
                <header><h3>Are my details submitted on X-Profit Limited confidential and private?</h3> <i class="fa fa-angle-down"></i></header>
                <p>Yes, they are. All details submitted on X-Profit Limited Website are 100% confidential and private from every thrid-party. Any information shared with us is deemed private and confidential.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="question">
                <header><h3>How soon do I wait to start seeing profits on X-Profit Investment LTD?</h3> <i class="fa fa-angle-down"></i></header>
                <p>All trades are carried out on a daily basis by our in-house traders so interests are added to your dashboard balance on a daily basis, while withdrawals can be carried out at the end of the investment duration depending on the plan a user is suscribed to.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="question">
                <header><h3>Can I register more than one account?</h3> <i class="fa fa-angle-down"></i></header>
                <p>Yes, there are no rules against registering multiple accounts on our platform.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="question">
                <header><h3>How can I become a participant of affiliate program?</h3> <i class="fa fa-angle-down"></i></header>
                <p>Each registered user has a unique referral link in his personal account. Regardless of whether you have an active deposit or not, the referral commission will be accurued.</p>
            </div>
            
        </section>

        <div  data-aos="fade-up" data-aos-duration="1500" class="outro">
            <h2>Let Us Help You Understand Us Better</h2>
            <p>Our team of professional customer service representatives are always available to assist you with your inquires, complaints and suggestions.</p>
            <a href="/contact">Contact Us</a>
        </div>
    </main>
</div>
<%-include('partials/footer')-%>