<%-include('partials/header')-%>

<div class="landing">
    <div class="landing_top">
        <div data-aos="fade-up" data-aos-duration="1500" class="texts">
            <h2>Blockchain Trading Solutions and <span>Cryptocurrency</span> Investments
            </h2>
            <p>Take advantage of our multi-asset investment approach aimed at aiding you reach your desired outcomes.</p>
            <p>Portfolio management is the heart of what we do.</p>
            <div class="actions">
                <a href="/register" class="register">Sign Up</a>
                <a href="/login" class="login">Login</a>
            </div>
        </div>
        <img data-aos="fade-right" data-aos-duration="1500" src="images/bitcoin-6H5RSB8-3-768x723.png" alt="banner">
    </div>

    <div class="landing_mid">
        <div data-aos="fade-left" data-aos-duration="1500" class="top">
            <h2>Most Trusted CryptoCurrency Platform</h2>
            <p>X-profit Investment ltd will give all access to the world of Investments</p>
        </div>
            <section>
                <div data-aos="fade-up" data-aos-duration="1500" class="onboard">
                    <img src="images/secure-3.png" alt="banner">
                    <h4>Reliable Security</h4>
                    <p>We at X-profit pride ourselves on the security of our users funds, identities and trust in us. Your protection is guaranted.</p>
                </div>

                <div data-aos="fade-up" data-aos-duration="1500" class="onboard">
                    <img src="images/invest-3.png" alt="banner">
                    <h4>Prefessional Traders</h4>
                    <p>All our in-house traders are efficiently proven to guarantee profits for investors throughout our long years of experience.</p>
                </div>

                <div data-aos="fade-up" data-aos-duration="1500" class="onboard">
                    <img src="images/easy-3.png" alt="banner">
                    <h4>24/7 Customer Support</h4>
                    <p>Our team of Customer representatives are always available to guarantee safe & easy use of our platform.</p>
                </div>
            </section>
    </div>

    <div class="landing_uses">
        <img data-aos="fade-left" data-aos-duration="1500" src="images/Bitcoin-_Isometric.png" alt="banner">
        <div class="uses">
            <div data-aos="fade-right" data-aos-duration="1500" class="uses_top">
                <h4>Why Choose X-Profit?</h4>
                <h2>We've Built A Platform To Trade Cryptocurrency Assets & Investments</h2>
                <p>We Guarantee Prompt Pay-Out Of Profits</p>
            </div>
            <section class="uses_bottom">
                <div class="use" data-aos="fade-up" data-aos-duration="1500">
                    <img src="images/secure-3.png" alt="illustration">
                    <div class="use_texts">
                        <h3>Guaranteed secure transactions</h3>
                        <p>Our team pays maximum attention to the safety of investor's funds and carefully checks all withdrawal transactions, processing them in manual mode</p>
                    </div>
                </div>

                <div class="use" data-aos="fade-up" data-aos-duration="1500">
                    <img src="images/credibility-3.png" alt="illustration">
                    <div class="use_texts">
                        <h3>Diversity financial risks with us!</h3>
                        <p>Due to the step-by-step strategy of work in the market, as well as in-depth analysis of financial trends, our company occupies a leading position</p>
                    </div>
                </div>

                <div class="use" data-aos="fade-up" data-aos-duration="1500">
                    <img src="images/analysis-3.png" alt="illustration">
                    <div class="use_texts">
                        <h3>Get income from a real business</h3>
                        <p>Our team is efficient and ready to offer safe and mutually beneficial co-operation to anyone who has set himself/herself/themselves the goal of making money.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="landing_more">
        <div class="intro" data-aos="fade-up" data-aos-duration="1500">
            <p class="green">Trade With Convenience on X-Profit Investments</p>
            <h2>We Are Re-shaping The Future Of Crypto-Currency Trading</h2>
            <p>From Our Executives to Traders, Marketers, Sales Reps & Floor Staff... We Stay Focused On Growth</p>
        </div>
        <section>
            <div data-aos="fade-up" data-aos-duration="1500" class="onboard">
                <img src="images/wall-3.png" alt="banner">
                <h4>Secure Wallet</h4>
                <p>With the blockchain technology, we offer Crypto e-wallets void of hacks from a third party.</p>
                <a href="/register">Get Started &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div data-aos="fade-up" data-aos-duration="1500" class="onboard">
                <img src="images/secure-3.png" alt="banner">
                <h4>Full Protection</h4>
                <p>Our platform is fully encrypted with the best digital security solutions to keep your funds safe.</p>
                <a href="/register">Get Started &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div data-aos="fade-up" data-aos-duration="1500" class="onboard">
                <img src="images/platform-3.png" alt="banner">
                <h4>expert Trading Platform</h4>
                <p>Our traders have years of practice to handle trades & market calls with guaranteed profits.</p>
                <a href="/register">Get Started &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </section>
    </div>

    <div class="landing_detail">
        <div class="intro">
            <h2 data-aos="fade-right" data-aos-duration="1500">$328 Million</h2>
            <h3 data-aos="fade-right" data-aos-duration="1500">Investment Capital From All Around The World Has Been Traded Through Us</h3>
            <p data-aos="fade-left" data-aos-duration="1500">With over $328 million in investment capital, from over 4 million users in more than 42 countries, we are the capital hands-off cryptocurrency trading solutions.</p>
        </div>
        <section>
            <div data-aos="fade-up" data-aos-duration="1500" class="detail">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <h3>8 +</h3>
                <p>Years Of Experience</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="detail">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <h3>$9M +</h3>
                <p>Investment On X-Profit Ltd</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="detail">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h3>71K +</h3>
                <p>Active Montly Users</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="detail">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <h3>42 +</h3>
                <p>Supported Countries</p>
            </div>
        </section>
    </div>

    <div class="landing_sub">
        <h4 data-aos="fade-down" data-aos-duration="1500">Ready To Start Investing?</h4>
        <h2 data-aos="fade-right" data-aos-duration="1500">Get Started Building Your CryptoCurrency Portfolio And Digital Wealth Today</h2>
        <p data-aos="fade-left" data-aos-duration="1500">We're leveling the financial playing field by giving you access to easy, uncomplicated investment opportunities. Manage your investments on your desktop or on-the-go with X-Profit Limited.</p>

        <a data-aos="fade-up" data-aos-duration="1500" href="/register">Get Started</a>
        <a data-aos="fade-up" data-aos-duration="1500" href="/login">Log In Now</a>
    </div>

    <div class="landing_faqs">
        <div class="intro">
            <h2 data-aos="fade-right" data-aos-duration="1500">Frequently Asked Questions</h2>
            <p data-aos="fade-left" data-aos-duration="1500">Explore some general questions with their appropriate answers about XProfit ltd which you may be confused or curious about</p>
        </div>
        <section>
            <div data-aos="fade-up" data-aos-duration="1500" class="question">
                <header><h3>Do I need to have prior trading knowledge or skills beofore joining or investing with X-Profit Limited?</h3> <i class="fa fa-angle-down"></i></header>
                <p>No, you don't. All trades on our platform are handled by our professional traders with years of experience to help us guarantee a steady flow of profits for users so you basically have to sit back and count your profits as they come through.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="question">
                <header><h3>Are my details submitted on X-Profit Limited confidential and private?</h3> <i class="fa fa-angle-down"></i></header>
                <p>Yes, they are. All details submitted on X-Profit Limited Website are 100% confidential and private from every thrid-party. Any information shared with us is deemed private and confidential.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1500" class="question">
                <header><h3>Can I register more than one account?</h3> <i class="fa fa-angle-down"></i></header>
                <p>Yes, there are no rules against registering multiple accounts on our platform.</p>
            </div>
            
        </section>
    </div>





    <container class="container">
        <cards class="cards">
            <bitcoin data-aos="fade-up" data-aos-duration="1500" style="width: 30%" class="btc">
                <card class="asset-info">
                    <div class="title">
                        <img src="https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg" width="15%"> 
                        <h1>Bitcoin</h1>
                    </div>
                    <div class="details">
                        <h2 class="asset-price" id="btcPrice"></h2>
                    </div>
                </card>
                <canvas id="btcChart"></canvas>
            </bitcoin>
    
            <cosmos data-aos="fade-up" data-aos-duration="1500" style="width: 30%" class="cosmos">
                <card class="asset-info">
                    <div class="title">
                        <img src="https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/atm.svg" width="15%"> 
                        <h1>Cosmos</h1>
                    </div>
                    <div class="details">
                        <h2 class="asset-price" id="atomPrice"></h2>
                    </div>
                </card>
                <canvas id="cosmosChart"></canvas>
            </cosmos>
    
            <ethereum data-aos="fade-up" data-aos-duration="1500" style="width: 30%" class="ethereum">
                <card class="asset-info">
                    <div class="title">
                        <img src="https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg" width="10%"> 
                        <h1>Ethereum</h1>
                    </div>
                    <div class="details">
                        <h2 class="asset-price" id="ethPrice"></h2>
                    </div>
                </card>
                <canvas id="ethereumChart"></canvas>
            </ethereum>
        </cards>
      </container>
</div>

<%-include('partials/footer')-%>