<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="X-profit, your pathway to success. A public trading company that boldly gains the trust of investors from around the world! Our professional and customer-oriented team is ready to make you an amazing offer of cryptocurrency investments">
    <link rel="shortcut icon" href="<%=prefix%>images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="<%=prefix%>css/styles.css">
    <title>Xprofit || Doorway To Success</title>
</head>
<body>
    <form action="/login" class="actionForm" method="post">
        <div class="top">
            <img src="<%=prefix%>images/logo.png" alt="logo">
            <div class="message">
                <i class="fa fa-key" aria-hidden="true"></i>
                <p><%=message%></p>
            </div>
        </div>
        <main>
            <div class="input">
                <label for="email">E-Mail Address</label>
                <input type="email" name="email" id="email" placeholder="E-Mail Address" required>
            </div>
            <div class="input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
            <a class="forgot" href="/forgot">Forgot Your Password?</a>
            <h5 class="alt">Don't have an account? <a href="/register">Register</a></h5>
        </main>
    </form>
</body>
</html>