<%-include('partials/header')-%>
<div class="plans">
    <div class="plans_head">
        <h2 data-aos="fade-left" data-aos-duration="1500">Our Investment Plans</h2>
        <p data-aos="fade-right" data-aos-duration="1500">Explore our well tailored and premium Investment offers for various budgets and expertise levels, guaranteed to get you started on your investment journey.</p>
    </div>

    <div data-aos="fade-up" data-aos-duration="1500" class="plan">
        <div class="plan_head">
            <h3>PRIMARY PLANS</h3>
        </div>
        <div class="plan_body">
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $500 TO GET $2,000</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $600 TO GET $2,400</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $700 TO GET $3,200</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $1,000 TO GET $9,500</p>
            </div>
            <div class="detail">
                <i class="fa fa-history"></i>
                <p>2 DAYS MAX</p>
            </div>
            <a href="/register">GET STARTED</a>
        </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="1500" class="plan">
        <div class="plan_head">
            <h3>SECONDARY PLANS</h3>
        </div>
        <div class="plan_body">
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $2,000 TO GET $10,500</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $3,000 TO GET $15,500</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $4,000 TO GET $20,500</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $5,000 TO GET $25,500</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $10,000 TO GET $50,500</p>
            </div>
            <div class="detail">
                <i class="fa fa-history"></i>
                <p>3 DAYS MAX</p>
            </div>
            <a href="/register">GET STARTED</a>
        </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="1500" class="plan heavy">
        <div class="plan_head">
            <h3>PREMIUM PLANS</h3>
        </div>
        <div class="plan_body">
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $1,000 TO GET $4,000</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $2,000 TO GET $8,000</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $3,000 TO GET $12,000</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $4,000 TO GET $20,000</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $5,000 TO GET $20,000</p>
            </div>
            <div class="detail">
                <i class="fa fa-money"></i>
                <p>INVEST $10,000 TO GET $40,000</p>
            </div>
            <div class="detail">
                <i class="fa fa-history"></i>
                <p>24 HOURS MAX</p>
            </div>
            <a href="/register">GET STARTED</a>
        </div>
    </div>

    <div  data-aos="fade-up" data-aos-duration="1500" class="outro">
        <h2>Let Us Help You Understand Us Better</h2>
        <p>Our team of professional customer service representatives are always available to assist you with your inquires, complaints and suggestions.</p>
        <a href="/contact">Contact Us</a>
    </div>

</div>
<%-include('partials/footer')-%>